html {
    font-family : Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 80px;
    background: #020256;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-links{
    width: 70%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.logo{
    max-width: 90%;
    max-height: 70px;
    height: auto;
}

.navbar-links a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 8px 16px;
}

.navbar-links a.active,
.navbar-links a.active:hover{
    background-color: white;
    color: #333333;
    padding: 8px 16px;
    border-radius: 16px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main-container{
    width: 80%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
    border-radius: 18px;
    padding: 32px;
}

.title{
    margin: 0;
}

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.article{
    display: flex;
    border-bottom: 1px solid #eee;
    gap: 24px;
    margin: 32px 0;
    padding-bottom: 24px;
}

.article-image{
    flex: 0 0 180px;
    background-color: lightgray;
    height: 120px;
}

.article-date{
    color: #888;
    margin-bottom: 10px;
}