{% extends 'posts/base.html' %}

{% block content %}
<div class="main-container">
    <div class="topbar">
        <h1 class="title">Delete a Blog Post</h1>
    </div>
    <div class="article-delete">
        <div class="article-content">
            <h2>{{ blog.title }}</h2>
            <div class="article-date">{{ blog.created_on|date:"F j, Y" }}</div>
            <p>{{ blog.content|truncatechars:200 }}</p>
            <div class="article-image-delete">
                {% if blog.image %}
                    <img src="{{ blog.image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <p class="delete-text">Are you sure that you want to delete this Blog Post?</p>
        <button class="btn btn-secondary">Yes, Delete</button>
        <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
    </form>
</div>
{% endblock %}